.clsTopicInfo {
  color:#808080;
}
.clsTopicInfoSep {
  margin:0.3em 0em 1em 0em;
  clear:both;
}
.clsBrowser a {
  text-decoration:none !important;
}
.clsBrowser a.twikiCurrentTopicLink {
  color:red;
}
.clsBrowser .treeview li { 
  padding: 1px 0px 1px 20px;
}
.clsTagCloud {
  margin:10px 0px;
  text-align:center;
}
.clsTagCloud strong {
  font-size:160%;
  margin:0px 5px 0px 2px;
}
.clsTagCloud a {
  padding:0px 5px;
  line-height:110%;
  text-decoration:none;
}
.clsBrowser .current,
.clsTagCloud a:hover,
.clsTagCloud .hilite,
.clsTagCloud .current {
  background:#06c;
  color:white !important;
  text-decoration:none;
}
.clsIconSelector,
.clsBrowser,
#clsTagSelector .clsTagCloud {
  padding:5px;
  border:1px solid #ccc;
  margin-bottom:5px;
}
.clsBrowser ul li a:hover,
.clsBrowser ul li a {
  background-image:none;
  padding:0px;
}
.clsSideBar.clsBrowser {
  border:0px;
  padding:0px;
  margin-bottom:0px;
}

.clsIconSelector label {
  padding:0px;
}
.clsTagSelector table td,
.clsTagSelector table th {
  padding:0em 1em 0em 0em;
}
.clsTagSelector table {
  margin:5px 0px;
  width:auto !important;
}
#clsNewCategory, #clsNewTopic {
  margin-bottom:0.5em;
}
#clsNewCategory table,
#clsNewTopic table {
  margin:0px;
}
.clsTagCloud .typed {
  background:pink;
}
.clsCategoryFactory .twikiFirstCol {
  width:100px;
}

/* indexes */
.fltMakeIndexWrapper {
  margin:1em 0px;
}
.fltMakeIndexWrapper table {
  width:100%;
}
.fltMakeIndexWrapper a {
  text-decoration:none;
}
.fltMakeIndexWrapper h3 {
  border:0px;
  margin:0px;
  padding:0px;
  font-size:110%;
}
.fltMakeIndexWrapper ul {
  margin:0em 0em 1.0em 0em;
  padding:0em;
  list-style-type:none;
}
.fltMakeIndexWrapper li {
  padding:0.5em 0em 0.5em 0em;
  margin:0em 0em 0.5em 0em;
  border-bottom:1px solid #eeeeee;
  min-height:16px;
}
.fltMakeIndexWrapper .clsTopicInfo {
  color:#808080;
  margin:0px;
}
.fltMakeIndexWrapper .redDot a {
  display:inline !important;
}
.fltMakeIndexWrapper table td {
  width:40em;
}

.fltMakeIndexWrapper .clsSubCategories {
  display:inline;
  margin-top:0.2em;
  margin-bottom:0.2em;
}
.fltMakeIndexWrapper .clsSubCategories a,
.fltMakeIndexWrapper .clsSubCategories {
  color:#808080;
}
.fltAnchors {
  margin:1.5em 0em 0em;
  /*
  text-align:center;
  border-bottom:1px solid #eeeeee;
  */
}
.fltMakeIndexWrapper .fltAnchors a {
  /*text-decoration:none;*/
  padding:2px 4px;
  margin:0px;
}
.clsIndexItem {
  min-height:16px;
}
.clsTopicItem {
  padding-left:20px;
  background-image:url(../../Applications/ClassificationApp/IconSet/text.png); 
  background-repeat:no-repeat;
}
.clsCategoryItem {
  padding-left:20px;
  background-image:url(../../Applications/ClassificationApp/IconSet/folder.gif);
  background-repeat:no-repeat;
}

/* icon selector */
.clsEditIcon {
  margin:0px 5px 5px 0px;
  border:2px solid white;
  padding:1px;
  display:block;
  float:left;
}
.clsEditIcon.selected {
  border:2px solid red;
  background:#eee;
}
.clsIconSelector input {
  display:none;
}


.clsCategoryIcon {
  margin:0px 5px 0px 3px;
}
.clsFilterForm.twikiFormSteps {
  border-width:1px 0px;
  margin:1.5em 0em 0em;
}
.clsFilterForm .twikiFormStep {
  float:left;
  border:0px;
  margin:0.5em 2em 0.5em 0.5em;
}
.clsFilterForm .twikiFormStep h3,
.clsFilterForm .twikiFormStep h4 {
  display:inline;
  font-weight:bold;
  text-decoration:none;
  border:0px;
  font-style:normal;
}
/* pattern skin tweaks */
#patternMainContents h1 a,
#patternMainContents h2 a,
#patternMainContents h3 a,
#patternMainContents h4 a,
#patternMainContents h5 a,
#patternMainContents h6 a {
  text-decoration:none !important;
}
